* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 19px;
}

body {
    width: 100%;
    min-height: 70vh;
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-width: 34rem;
}

.group {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin: 9px;
}

.group:nth-child(1) {
    min-height: 25rem;
}

.instagram-logo {
    height: 7rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 7rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 10px;
    border-radius: 9px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color:rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 11rem;
    background-size:cover;
}

.app-download:nth-child(1) {
    background-image: url('./apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./googleplay-button.jpg');
}